.card {
  border-radius: 8px;
  padding: 1rem;
  background-color: #000000;
  border: 1px solid #771377;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}

.card h3 {
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 0.9rem;
  margin-top: 0.15rem;
}
